@model IEnumerable<ServerApp.Models.Coach>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Coaches";
}

<h1>Coaches</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create new coach</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var coach in Model)
        {
            <tr>
                <td>@coach.Name</td>
                <td>@coach.Email</td>
                <td>
                    <a asp-action="Details" asp-route-id="@coach.Id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@coach.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@coach.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
